<Project>
  <PropertyGroup>
    <_SyncfusionKey>YOUR_SYNCFUSION_LICENSE_KEY</_SyncfusionKey>
    <_SentryDsn>YOUR_SENTRY_DSN</_SentryDsn>
    <SENTRY_AUTH_TOKEN>YOUR_SENTRY_AUTH_TOKEN</SENTRY_AUTH_TOKEN>
  </PropertyGroup>
</Project>
